importlib-metadata
importlib-resources
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kaggle
kaleido
keras
matplotli
matplotlib-inlin
numpy
panda
pickleshar
plotly
scikit-lear
scipy
scikit-learn
streamlit
tensorflow
tensorflow-estimator
